<!DOCTYPE html>


{% load static %}

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static "css/chatstyle.css" %}" type="text/css" media="screen" />
	<!-- <link rel="stylesheet" href="https://bot.honohr.com/pulsebot/static/survey_app/css/chatstyle.css" type="text/css" media="screen" /> -->
	<script src="{% static "js/jquery-1.12.2.min.js" %}" type="text/javascript"></script>
	<!-- <script src="https://bot.honohr.com/pulsebot/static/survey_app/js/jquery-1.12.2.min.js" type="text/javascript"></script> -->
	<script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>
	<!-- <script src="https://bot.honohr.com/pulsebot/static/survey_app/js/reconnecting-websocket.min.js" type="text/javascript"></script> -->
	{% block extra_head %}{% endblock %}
</head>
<body>
	<header>
		<h1>{% block header_text %}{% endblock %}</h1>
		{% if user.is_authenticated %}
			<a href="/accounts/logout/">Logout</a>
		{% endif %}
	</header>
	<section class="head-chat-card">
		{% block content %}
		{% endblock %}
	</section>
	{% block extra_body %}{% endblock %}
</body>
</html>

