{% load static %}
<!doctype html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js">
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta charset="utf-8"
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>FOOD DELIVERY AT HOME/title>
</head>
</head>
</html>

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Macro</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body ng-app='myapp' ng-controller='myctrl' ng-init="ShowButtons(); GetCategory();">
    <header id="header">

        <div class="container main-menu">
            <div class="row align-items-center justify-content-center d-flex">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li ><a href="{% url 'index' %}">Home</a></li>
                        <li ng-show="hider_data"><a href="{% url 'menu' %}">Menu</a></li>
                        <li ng-show="hider_data"><a href="{% url 'chat' %}">Chat</a></li>
                        <li ng-show="show_data"><a href="{% url 'register' %}">Register</a></li>
                        <li ng-show="show_data"><a href="{% url 'login' %}">Login</a></li>
                        <li ng-show="hider_data"><a href="/logout/">Logout</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <!-- start banner Area -->
    <section class="banner-area">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-between">
                <div class="col-lg-12 banner-content">
                    <h6 class="text-white">Students Special</h6>
                    <h1 class="text-white">CHICO STORE</h1>
                    <p class="text-white">
                    People who love to eat are always the best people.
                    </p>
                    <a href="#" class="primary-btn text-uppercase"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start home-about Area -->
    <section class="home-about-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 home-about-left">
                    <h1>Our Story</h1>
                    <p>
                        <h3>This is a food delivery website for Chico State students. Here you can buy food items on discounted prices. Find a Chico Store near you and order online for free.</h3>
                    </p>
                </div>
                <div class="col-lg-6 home-about-right">
                    <img class="img-fluid" src="{% static 'img/top-banner.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End home-about Area -->
    <!-- Start menu-area Area -->
    <section class="menu-area section-gap" id="menu" ng-if="category_data.length > 0">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">FOOD COLLECTION</h1>
                    </div>
                </div>
            </div>

            <ul class="filter-wrap filters col-lg-12 no-padding">
                <li><h3>THERE IS NO SINCERER LOVE THAN THE LOVE OF FOOD</h></li>
                
            </ul>
            {%verbatim%}

            <div class="filters-content">
                <div class="row grid">
                    <div ng-repeat="category in category_data" class="col-md-6 all breakfast">
                        <div class="single-menu">
                            <div class="title-wrap d-flex justify-content-between">
                                <h4>{{category.name}}</h4>
                            </div>
                            <p class="categories-click" ng-click="openMenu(category.id)">
                                <strong>Click here</strong> to checkout different kinds of {{category.name}}.
                            </p>
                        </div>
                    </div>
                    {%endverbatim%}
                    <div class="col-md-12 all buffet" style="margin-top: 20px;">
                            <div>
                                <div class="row fullscreen align-items-center justify-content-between" style="height: 0px !important;">
                                    <a href="{% url 'menu' %}" class="primary-btn text-uppercase">Click Here to View Full Menu</a>
                                </div>
                            </div>
                        </div>
                </div></div></div>
   </section>


    </section>
    <!-- End menu-area Area -->
   
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/chico.js' %}"></script>

</body>
</html>