{% load static %}
<!doctype html>
<html lang="en">
<head>
    <script data-semver="1.2.28" src="https://code.angularjs.org/1.2.28/angular.js" data-require="angular.js@1.2.x">
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Login Here</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <!--===============================================================================================-->
    </head>
    <body class="login-page" ng-app='myapp' ng-controller='myctrl'>

        <div class="limiter">
            <h3>LOGIN</h3>
            <div class="container-login500">
                <div class="wrap-login500 p-t-50 p-b-100">
                    <form class="login500-form validate-form flex-sb flex-w">
                        <span class="login500-form-title p-b-101"
                        </span>


                        <div class="control-group input-group">

                            <!-- Username -->
                            <label class="control-label" for="username">Username</label>
                            <div class="controls" style="margin-left: 10px;">
                                <input style="width: 230px;height: 40px;" ng-model="login_user" type="text" id="username" name="username" placeholder="" class="input-xlarge">
                            </div>
                        </div>

                        <div class="control-group input-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>
                            <div class="controls" style="margin-left: 15px;">
                                <input style="width: 230px;height: 40px;" ng-model="login_pass" type="password" id="password" name="password" placeholder="" class="input-xlarge">
                            </div>
                        </div>

                        <div class="flex-sb-m w-full p-t-3 p-b-24">

                            <div style="margin-bottom: 15px;">
                                <a href = "{% url 'register' %}">Don't have an account? Register</a>
                            </div>
                        </div>

                        <div class="container-login100-form-btn m-t-17">
                            <button ng-click="login();" class="login-btn">
                                Login
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </body>
</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/chico.js' %}"></script>
</body>
</html>