{% load static %}
<!doctype html>
<html lang="en">
<head>
    <script data-semver="1.2.28" src="https://code.angularjs.org/1.2.28/angular.js" data-require="angular.js@1.2.x">
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- Bootstrap CSS -->

    <title>Register Here!</title>
</head>
<body class="login-page" ng-app='myapp' ng-controller='myctrl'>

    <div class="limiter">
        <h3>REGISTER</h3>
            <div class="control-group input-group">

                <!-- Username -->
                <label class="control-label" for="username">Username</label>
                <div class="controls" style="margin-left: 10px;">
                    <input style="width: 230px;height: 40px;" ng-model="reg_user" type="text" id="username" name="username" placeholder="" class="input-xlarge">
                </div>
            </div>
            <div class="control-group input-group">

                <!-- Student Id -->
                <label class="control-label" for="studentid">Student ID</label>
                <div class="controls" style="margin-left: 10px;">
                    <input style="width: 230px;height: 40px;" ng-model="reg_stu_id" type="text" id="studentid" name="studentid" placeholder="" class="input-xlarge">
                </div>
            </div>
            <div class="control-group input-group">

                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls" style="margin-left: 35px;">
                    <input style="width: 230px;height: 40px;" ng-model="reg_email" type="text" id="email" name="email" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group input-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls" style="margin-left: 15px;">
                    <input style="width: 230px;height: 40px;" ng-model="reg_pass" type="password" id="password" name="password" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div style="margin-bottom: 15px;">
                <a href="{% url 'login' %}">Already have an account? Login</a>
            </div>
            
            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="login-btn" ng-click="registerUser();" class="btn btn-success">Register</button>
                </div>
            </div>    
    
    <script type="text/javascript" src="{% static 'js/chico.js' %}"></script>
</body>
</html>